{% assign p = include.holder %}

{% unless include.sidebar == true %}<div class="row"><div class="8u 12u(mobile) important(mobile)">{% endunless %}
  {% if p.responsibility == "" %}
  <h2>{{ group.group }} {{ group.status }} {{ include.longname }}</h2>
  {% else %}
  <h2>{{ group.group }} {{ p.responsibility }}</h2>
  {% endif %}

  {% if include.showbio %}
    {% unless p.bio == "" %}
      <p>
      <strong>{{ p.scaname }}</strong>
      {{ p.bio }}
      </p>
    {% endunless %}
    
    {% unless p.realbio == "" %}
      <p>
      <strong>{{ p.mundanename }}</strong>
      {{ p.realbio }}
      </p>
    {% endunless %}
  {% endif %}
  
  <strong>{{ p.scaname }}</strong>
  {% unless p.mundanename == "" %}
  ({{ p.mundanename }})
  {% endunless %}
  <br>
  {% unless p.email == "" %}Email: <a href="mailto:{{ p.email }}">{{ p.email }}</a><br>{% endunless %}
  {% unless p.phone == "" %}Phone: {{ p.phone }}<br>{% endunless %}
  {% unless p.address == "" %}{{ p.address }}<br>{% endunless %}

  {% unless include.sidebar == true %}
  </div>
  <div class="4u 12u(mobile)">
  {% endunless %}

  {% if p.portrait %}
    {% unless p.portrait == "" %}
    <br><br><br><br><br>
    <span class="image">
      <img src="{{ site.baseurl }}/{{p.portrait}}" alt="{{p.scaname}}">
    </span>
    {% endunless %}
  {% endif %}

{% unless include.sidebar %}</div></div>{% endunless %}