---
title: Their Royal Majesties, King and Queen of Drachenwald
gallery:
  - image_path: /images/royals/isabel-vitus-2019.jpg
    title: "Their Majesties Isabel and Vitus"
---
<p align="center">
<a href="#" class="btn btn--inverse">King & Queen</a>
{% comment %}
<a href="{{ site.baseurl }}{% link royals/heirs.html %}" class="btn btn--primary">The Heirs</a>
{% endcomment %}
<a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<a name="royals"></a><div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
{% include gallery %}
</div>

<table>
<tr>
<td align="center">
<h3 style="text-align: center;"><strong>Vitus Polonius</strong></h3>
<h3 style="text-align: center;">(Rene Vestfjörd)</h3>
<p> <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,107,105,110,103,64,100,114,97,99,104,101,110,119,97,108,100,46,115,99,97,46,111,114,103,39,62,107,105,110,103,64,100,114,97,99,104,101,110,119,97,108,100,46,115,99,97,46,111,114,103,60,47,97,62));</script></p></td>

<td align="center">
<h3 style="text-align: center;"><strong>Isabel Peregrinus<br /></strong></h3>
<h3 style="text-align: center;">(Helena Vestfjörd)</h3>
<p> <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,113,117,101,101,110,64,100,114,97,99,104,101,110,119,97,108,100,46,115,99,97,46,111,114,103,39,62,113,117,101,101,110,64,100,114,97,99,104,101,110,119,97,108,100,46,115,99,97,46,111,114,103,60,47,97,62));</script></p></td>
</tr>
<tr>
 <td><b>About Vitus Polonius</b><br>
    His Highness was born a younger son of a Polish nobleman. Looking for his lot in life, he became involved in the founding of a city militia, but had to make a swift departure shortly afterwards following a dispute concerning taxes. On his way West from Poland he met part of Frederick I Barbarossa's host on their way to the Holy Land. Since the pay on offer was not bad, he signed up. Misfortune struck when the Emperor drowned in the Saleph river, but five thousand of his men reached Acre, Vitus among them. There, Vitus joined up with the forces of Richard Lionheart, since the pay on offer still was not bad. He saw the walls of Jerusalem and fought many battles in Outremer. He left on one of the last ships to Italy, and from there continued to England. Eventually, he made a small fortune and acquired an estate that allowed him to be knighted. He lives on the Downs in one of his estates, overseeing his large household.
  </td>
   <td valign="top"><b>About Isabel Peregrinus</b><br>
    Her Highness is the daughter of a Northern Italian nobleman. In the manner of the Known World, the tangling streams of time mean that her time of origin is the late fourteenth - early part of the fifteenth century. She met Vitus when he was on his way back from Palestine, passing through Italy, and they fell deeply in love. She is fond of travelling, and is often seen wearing the quaint dress of the Northern Europeans.
</td>
</tr>
<tr>
<td><b>His Majesty is interested in</b><br>
 Period fencing, cooking, woodwork, history of the Crusades
</td>

<td><b>Her Majesty is interested in</b><br>
archery
</td>
</tr>
<tr>
<td><b>His Majesty likes</b><br>

  Board games; medieval music, literature and visual art

</td>

<td><b>Her Majesty likes</b><br>

Talking and socialising, filk
</td>
</tr>
<tr>
<td><b>His Majesty dislikes</b><br>
Modern mundane items visible at events
</td>

<td><b>Her Majesty dislikes</b><br>
Misspellings of Her name

</td>
</tr>
<tr>
<td><b>Please Feed His Majesty</b><br>
Large chunks of meat, marzipan, bread, all kinds of 15th century Italian food.<br>
</td>

<td><b>Please Feed Her Majesty</b><br>
Plain hearty Northern European style food with all sauces on the side; honey butter; desserts and other sweet things
</td>
</tr>
<tr>
<tr>
  <td><b>Please do not feed His Majesty:</b><br>
 Olives
  </td>
  
  <td><b>Please do not feed Her Majesty:</b><br>
 Mustard, rosemary, marzipan
  </td>
</tr>

<tr>
  <td><b>His Majesty has the following food restrictions:</b><br>
 None
  </td>
  
  <td><b>Her Majesty has the following food restrictions:</b><br>
 All alliums (onions, leek, garlic, saffron, shallot, chives etc, including lilies as room decoration). Please pay attention to pre-bought condiments etc because many contain alliums. Her Highness prefers fewer safe dishes than many confusing or potentially harmful dishes.
  </td>
</tr>
<tr>
<td><b>His Majesty would like events to feature</b><br>

Dancing; bardic performances and especially entertainment during feasts; feasts early in the day (finished by 19:30) so that Their Highnesses and Their children can spend time with the people); modern mundane items (including plastic bottles, boxes and wrappings) being kept out of sight at all times.
</td>

<td><b>Her Majesty would like events to feature:</b><br>
Downtime to spend among Her people; children being involved in activities and having things to do.

</td>
</tr>
  </table>

  <table>

  <caption><h3>Their Royal Majesties' Progress</h3></caption>

  <thead>
  <tr valign="top">
  <th scope="col">
  <h3>Date</h3>
  </th>
  <th scope="col">
  <h3>Group</h3>
  </th>
  <th scope="col">
  <h3>Event</h3>
  </th>
  <th scope="col">
  <h3>Royal Presence</h3>
  </th>
  </tr>
  </thead>

  <tbody>

  {% if site.data.events.eventlist %}
    {% assign events = site.data.events.eventlist | sort:"start" %}
  {% else %}
    {% assign events = "" %}
  {% endif %}

  {% for item in events %}

    {% if item.progress == "King" or item.progress == "Queen" or item.progress == "Both" %}

      {% assign eventmonth = item.start | date: "%b" %}
      {% unless eventmonth == currentmonth %}
      <tr>
      <td colspan="4">
      <h3>{{ item.start | date: "%B %Y" }}</h3>
      </td>
      </tr>
      {% assign currentmonth = eventmonth %}
      {% endunless %}

      <tr>
      <td data-label="Date">{{ item.start | date: "%d" }}
      {% unless item.end == "" or item.end == item.start %}
        {% assign endmonth = item.end | date: "%b" %}
        {% if currentmonth == endmonth %}
        - {{ item.end | date: "%d" }}
        {% else %}
        - {{ item.end | date: "%d/%m" }}
        {% endif %}
      {% endunless %}</td>
      <td data-label="Group">{{ item.group }}{% unless item.country == "" %} ({{ item.country }}){% endunless %}</td>
      <td data-label="Event">
      {% unless item.web == "" %}<a href="{{ item.web }}" target="_blank">{% endunless %}{{ item.name }}{% unless item.web == "" %}</a>{% endunless %}</td>
      
      <td data-label="Royal Presence">
        {% if item.progress == "King" %}
        King
        {% elsif item.progress == "Queen" %}
        Queen
        {% elsif item.progress == "Both" %}
        King & Queen
        {% else %}
        &nbsp;
        {% endif %}
      </td>

      </tr>

    {% endif %}
  {% endfor %}

  </tbody>
  </table>
