---
title: Single Dish Cooking Judging Criteria
---
<p>NOTE: More documentation is required for Cooking entries than other categories because the written information is used for judging both in the Documentation and the Authenticity sections of the criteria. Recipes must be included and if not in modern English, should be translated to modern English. Each section has a heading which provides critical information for judging. The definition of a period source is material which was written in period or was written earlier than period, but can be documented as available in period. A source is period if it is accurately quoted (and the original reference is cited) in a secondary source. A source may be a recipe, journals describing foods eaten, letters, books on manners, etc. While sufficient information to support the points being made and provide the relevant historical and cultural background to the dish(es) is critical, concisely presented material indicates the entrant has understood the material well enough to avoid extraneous or tangential information. An entry must consist of a single dish. The dish may be a beverage, but should not be an alcoholic beverage brewed or fermented by the entrant (to eliminate problems with Brewing vs. Cooking criteria).</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) This section addresses the scholarly aspect of the documentation. Look for information on the historical origins of the dish and how the modern recipe may differ from the period recipe. This may include any information which helps demonstrate an understanding of period cooking philosophy, choice of herbs, selection of ingredients, garnishing techniques, manner of service, etc. You should be able to see what research the cook has done into how the dish would have been prepared and presented in period. Must have at least a 3x5 card (or A6 paper). The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with at least some of the following: Identification / description of dish. Approximate time period and place/country of origin entry is modeled on. Recipe for dish. References/bibliography<br />
• Ingredients/Materials and recipe (original and redacted) used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process, especially noting modifications made specifically to meet safety requirements.<br />
• Research (country, period of origin, typical characteristics, etc.) Sources should be (ideally) period primary sources, or (very good) primary sources quoted in secondary sources, or (OK) secondary sources. Secondary sources may be used for supplementary information beyond the recipe or its ingredients (Ex:, symbolism of dish, effects on bodily humors, eating customs of the country, methods of service)<br />
• Information on the differences and similarities between the original and redacted recipe.<br />
• A comparison between the original preparation and cooking techniques and the modern ones used. In other words, if the cook used chicken instead of pheasant and roasted it in the oven instead of on a spit over a fire, that information should be included.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]. Determine how period the entry is based on the information supplied in documentation and discussion and/or on your own knowledge. For instance, scores of up to 3 may be given when there has been no documentation to support authenticity, but the judge recognizes the product as most probably authentic. There must be an original source(s) and redacted recipe to score an 8 or greater in this section. The effects of special efforts to achieve authenticity of presentation (including the form of presentation, additional decoration, etc.) should be judged here. Special efforts in producing the dish (such as raising the meat, growing the herbs, etc.) are not judged here, but should be judged in complexity.<br />
• 0: Entry blatantly modern<br />
• 1: Modern dishes with most of the ingredients known in period<br />
• 2: Modern dishes with all ingredients known in period<br />
• 3: #2 plus dishes "feels period"<br />
• 4: Dishes are period, but with modern ingredient substitution and rationale provided.<br />
• 5: Dishes are period, with period ingredient substitution and rationale given.<br />
• 6-7: #5 but special efforts in presentation, period embellishment and decoration.<br />
• 8: Dishes are authentic, any ingredient substitutions are period, preparation procedures approximate period procedures, but used modern equipment.<br />
• 9-10: Dishes are authentic, any ingredient substitutions are period, preparation procedures approximate period procedures and use period style equipment.<br />
<B>NOTE: Points should not be taken away for substitution of hard-to-find or expensive period ingredients, but selection of alternatives must show an understanding of period or period-like substitutes. Extra points may be given for a special effort to develop a period form of presentation, or duplicate period methods and ingredients.</b></p>
<p>COMPLEXITY (1-10 points) Consider here only the difficulty of the preparation of the dish. Judge the attempt, not the actual workmanship. Appropriate criteria to be considered here are: number and difficulty of steps, time involved, special ingredient preparation, etc.<br />
• 1: Little or no preparation required (Ex:, a sliced piece of fruit).<br />
• 2: Requires mixing two ingredients or boiling (baking, frying, etc.) Ex. a Jell-O pudding, oil and vinegar dressing (no salad, no spices), boiled potatoes.<br />
• 3: Limited complexity: requires combining a number of ingredients, but usually only one assembly cooking process (Haggis, plain short bread, an uncooked salad)<br />
• 4-5: Moderate complexity: requires two different components, each of which has a different process or procedure (grilled meat with a sauce, a cooked salad, a meat which is boiled and then baked, a pie shell and filling, etc.).<br />
• 6-7: Complex: At least two different cooking procedures or processes at least one of which requires substantial cooking skills. (Making a cheese pie in which the entrant made his own cheese; adding special decoration to things which would otherwise have been ranked 3 or 4. Rising and baking bread would be considered a skilled cooking procedure as would cooking a sugar syrup to a soft- or hard-ball stage.)<br />
• 8-9: Very Complex: #6 plus some additional or complex decoration, or special ingredient preparation (making your own verjuice to use in a recipe).<br />
• 10: #9 plus very difficult decoration, special ingredient preparation, etc.<br />
<B>NOTE: Extra points may be given for a special attempt to duplicate period methods and ingredients.</b></p>
<p>WORKMANSHIP (3-30 points. Scored 1-10 then multiplied by 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following: Workmanship is the quality of the job and the finished product. It is judged on excellence alone. It should be possible for a fairly simple, very modern dish which is delicious and looks and smells great to obtain ALL possible points in this category. If the dish is one containing tastes/textures you don't care for, rate the dish against others of that type (is the veggie dish substantially less horrible than most veggie dishes). If the dish is an attempt to recreate a period taste and that taste is documented by period sources, give credit for that attempt, even if it is not to your taste. Rate the dish on Appearance, Aroma, Flavor and Texture as follows.</p>
<p>Appearance: Is the appearance attractive (makes you look forward to eating it) and it looks similar to what the documentation says it should look like? Does it look edible (not spoiled, totally dried out, etc.). Award zero only if it looks so unappetizing that even a hungry person wouldn't eat it.<br />
• 0: The dish does not look appealing but is cooked and perhaps believable.<br />
• 1: The dish looks somewhat appealing.<br />
• 2: The dish looks appealing.</p>
<p>Aroma: Is the aroma appropriate to the dish (vert sauce smells of herbs, etc.). If extremely off (smells rotten, etc) do not award the point.<br />
• 0: Aroma from the dish offends the senses.<br />
• 1: Aroma from the dish detracts (but does not offend).<br />
• 2: Aroma from the dish is appropriate (passable).<br />
• 3: Aroma from the dish is very nice/good.</p>
<p>Flavor: Are people are likely to want to eat the whole thing? (Do not count off if the taste is one you do not like if that is the way it is supposed to taste. If you don't like that type of food ask the other judges to rank it and use their score). Is the taste pleasant or acceptable for the type of dish being presented? Zero points should only be awarded if most (hungry) people were unwilling to take a second bite or the taste was totally different from what the recipe indicated it should be<br />
• 0: Flavor from the dish offends the palate.<br />
• 1: The dish tastes okay (passable).<br />
• 2: The dish tastes pleasant<br />
• 3: The dish tastes delicious.</p>
<p>Texture: Is the texture appropriate to the dish (pie crust is somewhat flaky, etc.). If extremely off (large lumps in the pie crust, etc. ) do not award the point.<br />
• 0: Texture is not right for the dish.<br />
• 1: Texture is close to appropriate for the dish.<br />
• 2: Texture excellent for the dish.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.<br />
<B>NOTE: Extra points should be given for a special effort to display or present the dishes.</b></p>