---
title: Stained Glass Judging Criteria
---

DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Blatantly modern design (Drop suncatchers)<br />
• 1: Period look, but modern materials and procedures.<br />
• 2:Generally period, with some obviously modern elements present (e.g. copper foil, dichroic glass)<br />
• 3: Obvious mixture of elements from different cultures or periods (e.g. Byzantine elements on a Romanesque panel).<br />
• 4: "Using dichroic (chemically treated opalescent glass) glass". Using appropriate glass but using glass foil.<br />
• 5-6: Overall period style and execution, with minor inconsistencies.<br />
• 7-8: Using cathedral/antique glass with channel lead only. Period design with period materials or reasonable equivalents with no inconsistencies.<br />
• 9: Period design with period materials or reasonable equivalents with no inconsistencies.<br />
• 10: #9 plus hand-painting and channel lead only. Special effort to achieve a completely period product (e.g. did not use bandsaws and belt sanders for cutting and smoothing)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Scope of endeavor (e.g. number of pieces, amount of detail, special construction for theme)<br />
• Complexity of the medium(s) being worked in (difficulties of materials used).<br />
• Overall composition and layout.<br />
• Intricacy of creating an object in the size/scale utilized in the entry. (Remember that all sizes are difficult because in small scale it is difficult to get details and in large scale, any minor flaw shows noticeably.)<br />
• Number and variety of design elements.<br />
• Difficulty and variety of techniques attempted.<br />
• Amount of time involved including research and material preparation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Ability of entry to serve intended function.<br />
• Attention to details, neatness and finishing touches.<br />
• Appropriate application of design(s).<br />
• Effective use of materials and designs.<br />
• Mastery of period style and technique.<br />
• Techniques (e.g. lead work, soldering, edges)<br />
• Form and finish (Does it hang or stand straight? Does it have gaps?, etc.)<br />
• Special consideration to an event, individual or idea through embellishment or personalization</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>